body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/granrah.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

#Hero-Section h1, p{

  color: black;
  font-weight: 900;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 30vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

.logo{
  text-align: left;
  max-width: 5em;
}

@media (max-width: 768px) {

  .image-top{
    height: 30vw;
  }
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
